body{
      background-color: hsl(217, 54%, 11%);
      font-family: Outfit;
}
section{
      background-color: hsl(216, 50%, 16%);
      margin: 5em auto;
      height: 28em;
      width: 17em;
      padding: 1.5em;
      border-radius: 10px;
}
#main-img{
      height: 13em;
      width: 17em;
      border-radius: 10px;
}
h1{
      color: hsl(0, 0%, 100%);
}
h1:hover{
      color: hsl(178, 100%, 50%);
}
p{
      color: hsl(215, 51%, 70%);
}
#flex{
      display: flex;
}

#eth-para, #eth{
      color: hsl(178, 100%, 50%);
}
#clock{
      margin-left: 5em;
}
hr{
      border-color: hsl(215, 51%, 70%); 
      border-width: 0.1px;
}
#avatar{
      height: 1.5em;
      width: 1.5em;
      padding-right: 1em;
}
#avatar-para strong{
      font-weight: normal;
      color: hsl(0, 0%, 100%);
}
#avatar-para strong:hover{
      color: hsl(178, 100%, 50%);
}
footer{
      margin: auto;
}
footer a{
      text-decoration: none;
      color: hsl(0, 0%, 100%);
}