body{
      background-color: hsl(217, 54%, 11%);
}
section{
      background-color: hsl(216, 50%, 16%);
      margin: 5em 20em;
      height: 28em;
      width: 17em;
      padding: 1.5em;
      border-radius: 10px;
}
#main-img{
      height: 13em;
      width: 17em;
      border-radius: 10px;
}
h1{
      font-family: Outfit;
      color: hsl(0, 0%, 100%);
}
p{
      font-family: Outfit;
      color: hsl(215, 51%, 70%);
}
#flex{
      display: flex;
}

#eth-para, #eth{
      color: hsl(178, 100%, 50%);
}
#clock{
      margin-left: 5em;
}
hr{
      border-color: hsl(215, 51%, 70%); 
      border-width: 0.1px;
}
#avatar{
      height: 1.5em;
      width: 1.5em;
      padding-right: 1em;
      /* border: 1px solid hsl(0, 0%, 100%); */
}
#avatar-para strong{
      font-weight: normal;
      color: hsl(0, 0%, 100%);
}

footer{
      text-align: center;
}
footer a{
      text-decoration: none;
      color: hsl(0, 0%, 100%);
}